<!-- Sidebar en el lado derecho -->

<div class="sidebar p-3 mb-2 bg-dark text-white">
  <!-- Contenido del Sidebar aquí -->
  <h2>Noticias de interés</h2>
  <ul class="nav flex-column list-group h-100">
    <li class="nav-item list-group-item">
      <a class="nav-link" routerLink="/"
        >Caracteristicas del comercio electronico frente al tradicional</a>
    </li>
    <li class="nav-item list-group-item">
      <a class="nav-link" routerLink="/otra-pagina">Cómo vender más</a>
    </li>
    <li class="nav-item list-group-item">
      <a class="nav-link" routerLink="/otra-pagina"
        >Trucos para ofrecer mejores publicaciones</a>
    </li>
    <li class="nav-item list-group-item">
      <a class="nav-link" routerLink="/otra-pagina">Clientes destacados</a>
    </li>
    <li class="nav-item list-group-item">
      <a class="nav-link" routerLink="/otra-pagina">Lo más vendido de la semana</a>
    </li>
    <!-- Agrega más enlaces según sea necesario -->
  </ul>
</div>
