<app-header></app-header>
<section class="listaProductos">
    <div class="container-fluid mt-4">
    <header class="header d-flex mb-4 align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <h1 class="me-3">Lista de productos</h1>
            <button (click)="agregarProducto()" class="btn-registrar btn btn-dark me-3" >+ Registrar Producto</button> 
        </div>
        
        <div class="d-flex align-items-center border border-secondary-subtle rounded p-1">
            <input type="text" class=" searcher form-control me-3">
            <button class=" btn-searcher btn btn-dark me-3"><i class="bi bi-search"></i></button>
        </div>
    </header>
   
    <div class="table-responsive">
        <table class="table table-auto table-striped table-hover align-middle w-100">
            <thead class="table-dark">
                <tr>
                  <th scope="col" class="text-center">Codigo</th>
                  <th scope="col" class="text-center">Nombre</th>
                  <th scope="col" class="text-center">Descripcion</th>
                  <th scope="col" class="text-center">Foto</th>
                  <th scope="col" class="text-center">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td class="text-center align-middle">3456</td>
                    <td class="text-center align-middle">producto1</td>
                    <td class="text-center align-middle">descripcion producto1</td>
                    <td class="text-center align-middle">foto1</td>
                    <td class="d-flex align-items-center justify-content-center px-4">
                        <a class="text-primary px-2 mt-3"><i class="bi bi-pencil-square"></i>Editar</a>
                        <a (click)="eliminarProducto()" class="text-danger px-2 mt-3"><i class="bi bi-trash"></i>Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td class="text-center align-middle">7324</td>
                    <td class="text-center align-middle">Monitor LCD 17</td>
                    <td class="text-center align-middle">descripcion producto</td>
                    <td class="text-center align-middle">foto2</td>
                    <td class="d-flex align-items-center justify-content-center  px-4">
                        <a class="text-primary px-2 mt-3"><i class="bi bi-pencil-square"></i>Editar</a>
                        <a (click)="eliminarProducto()"  class="text-danger px-2 mt-3"><i class="bi bi-trash"></i>Eliminar</a>
                    </td>
                </tr>   
              </tbody>
        </table>
      </div>
    </div>
</section>
<div class="fixed-bottom">
    <app-footer></app-footer>
</div>
